/* bodyのデフォルトを定義 */
body {
  text-rendering: optimizeSpeed; //webフォントレンダリングの際に速さを重視する
  line-height: 1.8;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",Meiryo,sans-serif;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif!important;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-feature-settings: "palt";
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

/* marginとpaddingを削除 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* pが連続したら段落を空ける */
p+p {
  margin-top: 1em;
}

/* list-styleを削除 */
ul,
ol {
  list-style: none;
}

/* imgとpictureタグの設定 */
img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* 各ブラウザやOSの設定で動きの制限をしている場合、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* aタグのテキストカラーを親要素から継承と、ホバー時のアニメーション */
a {
  color: inherit;
  @media screen and (min-width: 768px) {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
    @media screen and (min-width: 768px) {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &:hover img {
    @media screen and (min-width: 768px) {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-LightItalic.ttf");
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
}

/*-- font ---*/
@font-face {
  font-family: "spectral";
  src: url("../fonts/SpectralSC-LightItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "shippori";
  src: url("../fonts/ShipporiMinchoB1-Medium.ttf");
  font-display: swap;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  div.headerin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 16px 8px;
    @media (min-width: 768px) {
      padding: 40px 16px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      padding: 32px 0;
    }
    h1 {
      width: 70%;
      a {
        img {}
      }
    }
    button.button {
      border: none;
      background-color: initial;
      flex: 1;
      position: fixed;
      width: 55px;
      height: 36px;
      right: 2%;
      top: 2%;
      @media (min-width: 768px) {
        right: 10%;
        top: 6%;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        right: 5%;
        top: 5%;
      }
      span {
        background-color: #FFFFFF;
        height: 6px;
        position: absolute;
        display: block;
        &:nth-child(1) {
          top: 0;
          width: 40px;
          @media (min-width: 768px) {
            width: 55px;
          }
        }
        &:nth-child(2) {
          top: 0;
          width: 40px;
          margin-top: 12px;
          @media (min-width: 768px) {
            width: 55px;
          }
        }
        &:nth-child(3) {
          top: 0;
          width: 30px;
          margin-top: 24px;
          @media (min-width: 768px) {
            width: 45px;
          }
        }
      }
    }
    &.container {
      @media (min-width: 768px) {
        width: 1140px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        width: initial;
      }
    }
  }
}

main {
  position: relative;
  div.heading {
    position: relative;
    div.keyvisual {
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        @media (min-width: 768px) {
          height: 586px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          height: 586px;
        }
      }
    }
    div.title {
      background: rgba(0, 0, 0, .6);
      text-align: center;
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      width: 85%;
      padding: 8px;
      @media (min-width: 768px) {
        width: 580px;
        padding: 16px;
        bottom: 38%;
      }
      h2 {
        font-size: 28px;
        letter-spacing: 3.8px;
        line-height: 39px;
        color: #FFFFFF;
        font-family: "shippori";
        @media (min-width: 768px) {
          font-size: 38px;
          line-height: 78px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 33px;
          line-height: 58px;
        }
      }
      div.english {
        font-size: 19px;
        letter-spacing: 1.05px;
        line-height: 36.75px;
        line-height: 27px;
        color: #FFFFFF;
        font-family: "Spectral";
        @media (min-width: 768px) {
          font-size: 21px;
          line-height: 36.75px;
        }
      }
    }
  }
  div.decor {
    position: relative;
    left: 50%;
    img {}
  }
  div.breadcrumb {
    position: relative;
    left: 0;
    top: 0;
    padding: 8px 8px 0 8px;
    @media (min-width: 768px) {
      padding: 16px 0 0 0;
    }
    div.inner {
      span.name {
        font-family: "shippori";
        @media (min-width: 768px) {
          font-size: 16px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 16px;
        }
      }
    }
    &.container {
      @media (min-width: 768px) {
        width: 1140px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        width: initial;
      }
    }
  }
  div.gradation {
    position: relative;
    img {
      width: 100%;
      position: absolute;
      z-index: -1;
    }
  }
  section.service {
    position: relative;
    margin-top: 32px;
    @media (min-width: 768px) {
      margin-top: 147px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: 64px;
    }
    div.catch {
      font-size: 25px;
      letter-spacing: 3.6px;
      line-height: 33px;
      font-family: "shippori";
      @media (min-width: 768px) {
        font-size: 36px;
        line-height: 63px;
        text-align: center;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 30px;
        line-height: 48px;
      }
      br {
        display: none;
        @media (min-width: 768px) {
          display: block;
        }
      }
    }
    div.lists {
      margin-top: 72px;
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 107px 82px;
        margin-top: 147px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        gap: 54px 48px;
        margin-top: 104px;
      }
      div.item {
        @media (min-width: 768px) {
          display: grid;
          grid-template-rows: subgrid;
          grid-row: span 3;
          gap: 0;
        }
        h2 {
          font-size: 25px;
          letter-spacing: 0.9px;
          line-height: 33px;
          font-family: "shippori";
          @media (min-width: 768px) {
            font-size: 36px;
            line-height: 63px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 29px;
            line-height: 48px;
          }
        }
        div.image {
          margin-top: 16px;
          @media (min-width: 768px) {
            margin-top: 40px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            margin-top: 24px;
          }
          img {
            width: 100%;
          }
        }
        div.text {
          font-weight: 500;
          letter-spacing: 0;
          line-height: 29px;
          font-family: "shippori";
          margin-top: 20px;
          @media (min-width: 768px) {
            margin-top: 38px;
            line-height: 35px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            margin-top: 32px;
          }
          p {
            br {}
            &+p {
              margin-top: 16px;
            }
          }
        }
        &+.item {
          margin-top: 36px;
          @media (min-width: 768px) {
            margin-top: initial;
          }
        }
      }
    }
    div.area {
      margin-top: 36px;
      @media (min-width: 768px) {
        margin-top: 123px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        margin-top: 80px;
      }
      div.item {
        @media (min-width: 768px) {
          width: 50%;
        }
        h2 {
          font-size: 25px;
          letter-spacing: 0.9px;
          line-height: 33px;
          font-family: "shippori";
          @media (min-width: 768px) {
            font-size: 36px;
            line-height: 63px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 30px;
          }
        }
        div.consultation {
          font-size: 18px;
          letter-spacing: 0;
          line-height: 31px;
          font-family: "shippori";
          border: 1px solid #998675;
          padding: 42px 24px 42px 42px;
          width: 94%;
          position: relative;
          margin-top: 16px;
          @media (min-width: 768px) {
            font-size: 24px;
            line-height: 42px;
            width: 88%;
            padding: 89px 42px 89px 64px;
            margin-top: 35px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 21px;
            width: 100%;
            padding: 50px 32px 32px 50px;
            margin-top: 24px;
          }
          &::after {
            position: absolute;
            content: '';
            border: 1px solid #998675;
            width: 100%;
            height: 100%;
            display: block;
            left: 16px;
            top: 16px;
            @media (min-width: 768px) {
              left: 24px;
              top: 24px;
            }
          }
        }
      }
    }
    &.container {
      @media (min-width: 768px) {
        width: 1140px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        width: initial;
      }
    }
  }
  div.pagetop {
    text-align: center;
    margin-top: 164px;
    div.arrow {
      img {}
    }
  }
}

footer {
  background-color: #1E4072;
  // margin-top: 120px;
  @media (min-width: 768px) {
    margin-top: 48px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    // margin-top: 175px;
  }
  div.footerin {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: 768px) {
      display: flex;
      gap: 66px;
      padding-top: 81px;
      padding-bottom: 81px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      gap: 48px;
      padding-top: 64px;
      padding-bottom: 64px;
    }
    div.map {
      @media (min-width: 768px) {
        flex: 1;
      }
      iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
      }
    }
    div.text {
      margin-top: 32px;
      @media (min-width: 768px) {
        flex: 1;
        margin-top: initial;
      }
      div.profile {
        div.name {
          font-size: 26px;
          font-weight: 600;
          letter-spacing: 3.63px;
          line-height: 33px;
          color: #FFFFFF;
          font-family: "shippori";
          @media (min-width: 768px) {
            font-size: 36px;
            line-height: 63.44px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 31px;
          }
        }
        div.address {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1.8px;
          line-height: 26px;
          color: #FFFFFF;
          font-family: "shippori";
          margin-top: 4px;
          @media (min-width: 768px) {
            font-size: 18px;
            line-height: 31.5px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 17px;
          }
        }
        div.call {
          margin-top: 16px;
          @media (min-width: 768px) {
            display: inline-flex;
            gap: 16px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            display: block;
          }
          div.tel {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 1.35px;
            line-height: 31.5px;
            line-height: 24px;
            color: #FFFFFF;
            font-family: "shippori";
            @media (min-width: 768px) {
              font-size: 18px;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
              font-size: 17px;
            }
            a.number {
              font-size: 23px;
              letter-spacing: 1.88px;
              @media (min-width: 768px) {
                font-size: 25px;
              }
              @media (min-width: 768px) and (max-width: 991.98px) {
                font-size: 24px;
              }
            }
          }
          div.fax {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 1.35px;
            line-height: 31.5px;
            line-height: 24px;
            color: #FFFFFF;
            font-family: "shippori";
            margin-top: 4px;
            @media (min-width: 768px) {
              font-size: 18px;
              margin-top: initial;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
              font-size: 17px;
              margin-top: 8px;
            }
            a.number {
              font-size: 23px;
              letter-spacing: 1.88px;
              @media (min-width: 768px) {
                font-size: 25px;
              }
              @media (min-width: 768px) and (max-width: 991.98px) {
                font-size: 24px;
              }
            }
          }
        }
        div.time {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1.8px;
          line-height: 24px;
          color: #FFFFFF;
          font-family: "shippori";
          margin-top: 8px;
          @media (min-width: 768px) {
            font-size: 18px;
            line-height: 31.5px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 17px;
          }
        }
      }
      div.contact {
        margin-top: 16px;
        @media (min-width: 768px) {
          margin-top: 32px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          margin-top: 24px;
        }
        a {
          font-size: 25px;
          letter-spacing: 2.89px;
          line-height: 50.63px;
          line-height: 25px;
          color: #FFFFFF;
          font-family: "shippori";
          background-color: #B59D34;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          padding: 16px;
          @media (min-width: 768px) {
            font-size: 29px;
            padding-top: 25px;
            padding-bottom: 34px;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            font-size: 27px;
            padding: 24px
          }
          img {
            width: 32px;
            height: 24px;
          }
        }
      }
    }
    &.container {
      @media (min-width: 768px) {
        width: 1140px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        width: initial;
      }
    }
  }
  div.copyright {
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 24.5px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: "shippori";
    background-color: #474342;
    padding: 8px;
    @media (min-width: 768px) {
      text-align: center;
      padding: 18px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      font-size: 15px;
      padding: 13px;
    }
  }
}